Package: com.gmoran.sbbrowser
Name: SBBrowser
Depends: mobilesubstrate
Version: 0.0.1-1-33-13
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Guillermo Moran
Author: Guillermo Moran
Section: Tweaks
Installed-Size: 20
Installed-Size: 32
Installed-Size: 64
